@model MVCBookingFinal_YARAB_.Models.Review

@{
    ViewData["Title"] = "Review Details";
}

<div class="container mt-5">
    <h1 class="text-center mt-4">Review Details</h1>
    <hr />
    <div class="card-body" style="width:800px; margin: 0 auto;">
        <table class="table table-striped table-hover table-rounded overflow-auto">
            <thead class="custom-row">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Hotel)</td>
                    <td>@Html.DisplayFor(model => model.Hotel.Address)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.User.UserName)</td>
                    <td>@Html.DisplayFor(model => model.User.UserName)</td>
                </tr>
                <tr>
                    <td >@Html.DisplayNameFor(model => model.Rating)</td>
                    <td>@Html.DisplayFor(model => model.Rating)</td>
                </tr>
                <tr>
                    <td >@Html.DisplayNameFor(model => model.Description)</td>
                    <td class="text-wrap" style="max-width: 500px; word-wrap: break-word;">@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td >@Html.DisplayNameFor(model => model.ReviewDate)</td>
                    <td>@Html.DisplayFor(model => model.ReviewDate)</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

<style>
    table {
        background-color: white;
    }

    .table-rounded {
        border-collapse: separate;
        border-spacing: 0;
    }

        .table-rounded th:first-child {
            border-top-left-radius: 10px;
        }

        .table-rounded th:last-child {
            border-top-right-radius: 10px;
        }

    .custom-row th {
        text-align: left;
        background-color: #1a374d;
        color: white;
        font-weight: bold;
    }

    td {
        text-align: left;
    }

    .container {
        max-width: 92%;
    }
</style>
